<div class="title">
  <h1>What would you like to cook today?</h1>
</div>
<div class="contain">
  <form class="container">
    <div class="form-group text-center">
      <div class="searchbar">
        <input type="search" name="food" value="" class="form-control">
        </div>
      <p></p>
      <button type="search" name="button" class="btn btn-info btn-lg">Search</button>
    </div>
  </form>
</div>

<% unless @video.nil? %>
  <div>
    <% @video.each do |key, value| %>
      <div class="col-md-2">
        <a class="youtube-link" href="https://www.youtube.com/embed/<%= key["id"]["videoId"] %>">
          <img class="food_image" src="<%= key["snippet"]["thumbnails"]["high"]["url"] %>" alt="recipe image" />
        </a>
      </div>

    <% end %>
  </div>
<% end %>
