// Place all the styles related to the Cooking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  text-align: center;
  margin-top: 300px;
  font-family: 'Lobster', cursive;
  width: 100%;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 50px;
}

// @font-face {
//   font-family: 'DarkLarch';
//   src: url('DarkLarch_PERSONAL_USE.ttf');
// }
//
//
// .logo {
//     font-size: 5em;
//     color: #fff;
//     z-index: 2;
//     position: relative;
//     margin: 0;
//     padding: 0;
//     font-family: 'DarkLarch', cursive;
// }

.container {
  text-align: center;
}

.contain {
  width: 100%;
  position: relative;
  z-index: 2;
}

.food_image {
  width: 300px;
  height: auto;
}

.food_title {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: 'Taviraj', serif;
  text-decoration: none;
}

div.title h1#head_title{
  font-size: 2em;
}
.text-center {
  width: 100%;
}

.contains {
    width: 35%;
  }

.form-group.text-center {
    margin-bottom: 50px;
}

.searchbar {
  display: inline-flex;
  width: 50em;
}

.videoadd {
  position: relative;
  z-index: 2;
}

.form-control {
  height: 2em;
  font-size: 2em;
}

#video-background {
 position: absolute;
 display: block;
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
 width: initial;
 height: auto;
 z-index: 1;
 margin: 0 auto;
 object-fit: cover;
 padding: 0;
}
